<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

<h1>Полученные данные:</h1>
<h2>random generate 1-10</h2>
<ul id="nums"></ul>



    <script>

    fetch('/1/')
    .then(response => response.json())
    .then(data => {

    const dataList = document.getElementById('nums');
    data.forEach(item => {

    const li =  document.createElement('li');
    li.textContent = item;
    dataList.appendChild(li);});
    })
    
    </script>




</body>
</html>